<app-profile-header></app-profile-header>

<div class="main">
    <!-- SEARCH FOR FRIENDS -->
    <h1>Friends</h1>
    <div class="search-users">
        <form>
            <div class="form-group">
                <label>Enter Username</label>
                <input type="text" class="form-control" formControlName="searched_name">
            </div>
            <button type="submit">Search</button>
        </form>
    </div>
    <!-- LIST OF ALL FRIENDS -->
    <div class="friends-list">
        <ol>
            <li>FRIEND 1</li>
            <li>FRIEND 2</li>
            <li>FRIEND 3</li>
        </ol>
    </div>
</div>