nav{
    display: flex;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    min-height: 8vh;
    align-items: center;
}

.logo a{
    text-decoration: none;
    color: #00f5bc;
    margin-left: 30px;
    letter-spacing: 2px;
}

.nav-links{
    height: 100%;
    margin-right: 30px;
    ul{
        display: flex;
    }
    li{
        list-style: none;
        a{
            text-decoration: none;
            color: #00f5bc;
            padding: 6px;
            &:hover{
                color: #e94560;
            }
        }
    }
}
