.main{
    background-color: rgba(0,0,0,0);
    height: 84vh;
    display: flex;
    flex-direction: column;
}

//Resolutions List
.all-resolutions{
    a{
        color: black;
        text-decoration: none;
    }
}