.main{
    background-color: rgba(0,0,0,0);
    height: 84vh;
    display: flex;
    flex-direction: column;
}

//BANNER
.banner{
    display: flex;
    margin-top: 100px;
    background-color: black;
    height:max-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    p{
        padding: 40px 0px 40px 0px;
        color: white;
        text-align: center;
    }
}

.all-list{
    padding-left: 50px;
    padding-top:50px;
    a{
        text-decoration: none;
        color: black;
        font-size: 26px;
    }
}

