<!-- NAV -->
<app-profile-header></app-profile-header>

<!-- MAIN -->
<div class="main">
    <div class="banner">
        <p>Welcome, USERNAME</p> <!--ADD DYNAMIC FUNCTIONALITY-->
    </div>
    <!--RESOLUTIONS-->
    <div class="resolution-div">
        <h2><a routerLink="/resolutions">Resolutions</a></h2>
    </div>
    <!-- GROUPS -->
    <div class="group-div">
        <h2><a routerLink="/groups">Groups</a></h2>
    </div>
    <!-- FRIENDS -->
    <div class="friend-div">
        <h2><a routerLink="/friends">Friends</a></h2>
    </div>
</div>